In [30]:
list1 = [1, 2, 3, 4, 5]
list2 = ['apple', 'banana', 'cherry']
list3 = [1, 'hello', 3.14, True]

print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [31]:
#Using list() Constructor
a = list((1, 2, 3, 'apple', 4.5))  
print(a)

b = list("GFG")
print(b)

[1, 2, 3, 'apple', 4.5]
['G', 'F', 'G']

In [32]:
#Creating List with Repeated Elements
a = [2] * 5
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [33]:
print(list1)

[1, 2, 3, 4, 5]

In [34]:
print(list1[0])
print(list1[2])
print(list1[4])

1
3
5

In [35]:
print(list3)

[1, 'hello', 3.14, True]

In [36]:
list3.append(10)

In [37]:
print(list3)

[1, 'hello', 3.14, True, 10]

In [38]:
list3.extend(['alex',24,'joe',26])

In [39]:
print(list3)

[1, 'hello', 3.14, True, 10, 'alex', 24, 'joe', 26]

In [40]:
list3.insert(5,99.99)
print(list3)

[1, 'hello', 3.14, True, 10, 99.99, 'alex', 24, 'joe', 26]

In [41]:
list3[0]='change'
print(list3)

['change', 'hello', 3.14, True, 10, 99.99, 'alex', 24, 'joe', 26]

In [42]:
print(list1)

[1, 2, 3, 4, 5]

In [43]:
a = [10, 20, 30, 40, 50]

a.remove(30)  
print("After remove(30):", a)

popped_val = a.pop(1)  
print("Popped element:", popped_val)
print("After pop(1):", a) 

del a[0]  
print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

In [1]:
tup=(10,20,30)
print(tup)
print(type(tup))

(10, 20, 30)
<class 'tuple'>

In [6]:
tup1 = (1, 2, 3, 4, 5)
print(tup1[1])
print(tup1[4])

tup1[1] = 100    # cannot be updated
print(tup1)

2
5

TypeError: 'tuple' object does not support item assignment

In [7]:
# Code for creating nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')

tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'geek'))

In [8]:
# code to test slicing
tup = (0 ,1, 2, 3)

print(tup[1:])
print(tup[::-1])
print(tup[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [16]:
#DICT

In [17]:
dict = {'name':'Jack','age':25}
print(dict)
print(type(dict))

{'name': 'Jack', 'age': 25}
<class 'dict'>

In [18]:
dict['city']='mohali'
print(dict)

{'name': 'Jack', 'age': 25, 'city': 'mohali'}

In [1]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks', 'age':22}

# Using del 
del d["age"]
print(d)

# Using pop() 
val = d.pop(1)
print(val)

# Using popitem()
key, val = d.popitem()
print(f"Key: {key}, Value: {val}")

# Using clear()
d.clear()
print(d)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
Geeks
Key: 3, Value: Geeks
{}